<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css" type="text/css">
    <title>404 - Page Not Found</title>
    
</head>
<body>
    <h1>404</h1>
    <p>Pagina pe care o cauți nu a fost găsită.</p>
    <p><a href="/">Înapoi la pagina principală</a></p>
</body>
</html>
