

body, html{
    background-color: #FDF0F6;
    margin: 0;
    padding: 0;
}


.meniu
{
    padding: 10px;
    background-color: #FC7FB6;
    color: #771144 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text
{
    font-size: 110%;
    font-weight: bold;
}

.link
{
    text-decoration: none;
    color:#771144;
}

.link:hover
{
    color:#1E0411;
    font-size: 120%;
    font-style: italic;
    text-shadow: 0 0 3px #1E0411;
}

#logo
{
    width: 4em;
    height: 4em;
    justify-self: center;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

#dropdown
{
    display: none;
}

#dd_content
{
    display: none;
}

.submeniu{
    padding: 1em;
    background-color: #771144;
    color:#FDF0F6;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;

    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

#div_submeniu
{
    margin-left: 5em;
}

#poza
{
    margin-left:0;
}


#titlu
{
    font-size: 3em;
    margin-left: 12%;
}

#subtitlu{
    font-size: 120%;
    margin-left: 3%;
} 

.main2
{
    padding: 5em;
    display: grid;
    grid-template-rows: auto;
    
}

#dim_poza
{
    width: 100%;
    height: 100px;
}

h2{
    color:#1E0411;
    font-style: italic ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.citate
{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}





@media (max-width: 500px)
{
    #dropdown
    {
        visibility: visible;
        position: relative;
        display: block;
    }

    #dropdown:hover #dd_content
    {
        display: block;
    }

    #dd_content
    {
        position: absolute;
        background-color: #FDF0F6;
        padding: 10px;
        border-radius: 20%;
        box-shadow: 10px 5px 5px #FDF0F6;
        font-size: 5vw;
    }

    #dd_content a:hover
    {
        color: #771144;
    }

    #dd_content a
    {   margin: 5px;

    }


    .text
    {
        visibility: hidden;
    }

}